<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar translucent>
        <ion-item>
          <ion-title>Menu</ion-title>
          <ion-icon name="close" slot="end" (click)="closeMenu()"></ion-icon>
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-button (click)="openHomePage()">Home</ion-button>
        </ion-item>
        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-button (click)="openProfilePage()">Profile</ion-button>
        </ion-item>
        <ion-item>
          <ion-icon name="contact" slot="start"></ion-icon>
          <ion-button (click)="openFriendsPage()">Friends</ion-button>
        </ion-item>
        <ion-item>
          <ion-icon name="chatboxes" slot="start"></ion-icon>
          <ion-button (click)="openMessagePage()">Messages</ion-button>
        </ion-item>
        <ion-item>
          <ion-icon name="globe" slot="start"></ion-icon>
          <ion-button (click)="openGlobePage()">Globe</ion-button>
        </ion-item>
        <ion-item>
          <ion-icon name="settings" slot="start"></ion-icon>
          <ion-button (click)="openSettingPage()">Settings</ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" main>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button type="submit" (click)="openMenu()"></ion-menu-button>
        </ion-buttons>
    <ion-title>Followers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="vertical-margin" *ngFor="let user of followers">
    <ion-toolbar>{{user.name}}</ion-toolbar>
  </ion-card>
</ion-content>
  </div>
</ion-app>
