<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-button (click)="openHomePage()">Home</ion-button>
        </ion-item>
        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-button (click)="openProfilePage()">Profile</ion-button>
        </ion-item>
        <ion-item>
          <ion-icon name="chatboxes" slot="start"></ion-icon>
          <ion-button (click)="openMessagePage()">Messages</ion-button>
        </ion-item>
        <ion-item>
          <ion-icon name="settings" slot="start"></ion-icon>
          <ion-button (click)="openSettingPage()">Settings</ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" main>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button type="submit" (click)="openMenu()"></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="homeForm">
        <div>
          <ion-card class="vertical-margin border-top">
            <div>
              <ion-item class="textarea">
                <ion-textarea name="post" type="post" formControlName="post" placeholder="Write here..." required></ion-textarea>
              </ion-item>
            </div>
            <div>
              <ionalert>
                <section>
                  <ion-button type=submit (click)="alert()" expand="block">Post</ion-button>
                </section>
              </ionalert>
            </div>
          </ion-card>
          <div>
            <ion-card class="vertical-margin">
              This is my wall here I can see what my friends are doing
            </ion-card>
          </div>
        </div>
      </form>
    </ion-content>
  </div>
</ion-app>
