<ion-app class="mobile">
  <div class="ion-page" main>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title slot="start">Home</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="homeForm">
        <div>
          <ion-card class="vertical-margin ">
            <div>
              <ion-item class="textarea">
                <ion-textarea name="post" type="post" formControlName="post" placeholder="Write here if is a post and click button, if is a event, only click button." required></ion-textarea>
              </ion-item>
            </div>
            <div>
              <ionalert>
                <section>
                  <ion-button (click)="alert()" color="medium" expand="block">Post / Event</ion-button>
                </section>
              </ionalert>
            </div>
          </ion-card>
          <div *ngIf="activity">
            <ion-card color="light" class="vertical-margin" >
              <ion-card-title class="ion-text-center">ACTIVITY</ion-card-title>
              <div *ngFor="let thing of activity">
                <ion-card color="medium">
                  <ion-card-content  *ngIf="thing.type == 'Post';else other_content">
                    <ion-toolbar class="main-content" color="light">
                      <ion-item color="light" class="main-content">
                      <ion-avatar >
                        <img *ngIf="thing.owner.profilePhoto" src="{{thing.owner.profilePhoto}}"/>
                      </ion-avatar>
                        <ion-label>
                          <h3>{{thing.owner.name}}</h3>
                        </ion-label>
                      </ion-item>
                    </ion-toolbar>
                    <ion-item >
                      <ion-label class="ion-text-center">
                      <h4>{{thing.message}}</h4>
                      </ion-label>
                    </ion-item>
                    <ion-item color="light">
                      <ion-col class="send_form_input">
                        <ion-textarea #box placeholder="Write a comment..."
                                      (keyup.enter)="onEnter(box.value,thing._id); box.value = '' ">
                        </ion-textarea>
                      </ion-col>
                    </ion-item>
                    <ion-item color="medium">
                        <ion-button (click)="onEnter(box.value,thing._id); box.value = '' ">Comment
                          <ion-icon slot="start" name="send" size="large"></ion-icon>
                        </ion-button>
                        <ion-button color="secondary" slot="end" (click)="changePageComments(thing._id)" >View all comments {{'('+thing.comments.length+')'}}</ion-button>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
                <ng-template #other_content>
                  <div *ngIf="thing.owner.name == this.user.name; else other_person">
                  <ion-card color="light">
                      <ion-card-content>
                        <ion-toolbar class="main-content" color="medium">
                          <ion-item color="medium">
                            <ion-avatar slot="start">
                              <img *ngIf="thing.owner.profilePhoto" src="{{thing.owner.profilePhoto}}" />
                            </ion-avatar>
                            <ion-label>
                              <h3>{{thing.owner.name}}</h3>
                            </ion-label>
                          </ion-item>
                        </ion-toolbar>
                        <ion-item >
                          <ion-label class="ion-text-center">
                            <h4>{{thing.description}}</h4>
                          </ion-label>
                        </ion-item>
                        <ion-toolbar color="light" class="ion-text-center">

                          <h4><ion-icon name="pin"></ion-icon> Location: {{thing.location}}</h4>
                        </ion-toolbar>
                        <ion-toolbar color="light">
                          <ion-button color="secondary" class="middle-card" size="small" (click)="seeEvent(thing._id)" >See event</ion-button>
                        </ion-toolbar>
                      </ion-card-content>
                    </ion-card>
                  </div>
                  <ng-template #other_person>
                    <div *ngFor="let user of checklist">
                      <div *ngIf="user.idEvent === thing._id">
                        <div *ngIf="user.check === 'yes'; else other_thing" >
                          <ion-card color="light">
                            <ion-card-content>
                              <ion-toolbar class="main-content" color="medium">
                                <ion-item color="medium">
                                  <ion-avatar slot="start">
                                    <img *ngIf="thing.owner.profilePhoto" src="{{thing.owner.profilePhoto}}"/>
                                  </ion-avatar>
                                  <ion-label>
                                    <h3>{{thing.owner.name}}</h3>
                                  </ion-label>
                                </ion-item>
                              </ion-toolbar>
                              <ion-item>
                                <ion-label class="ion-text-center">
                                  <h4>{{thing.description}}</h4>
                                </ion-label>
                              </ion-item>
                              <ion-toolbar color="light" class="ion-text-center">
                                <h4><ion-icon name="pin"></ion-icon> Location: {{thing.location}}</h4>
                              </ion-toolbar>
                              <ion-toolbar color="light">
                                <ion-button color="secondary" size="small" (click)="seeEvent(thing._id)" slot="start">See event</ion-button>
                                <ion-button color="secondary" size="small" (click)="leave(thing._id)" slot="end">Leave</ion-button>
                              </ion-toolbar>
                            </ion-card-content>
                          </ion-card>
                        </div>
                      </div>
                      <ng-template #other_thing>
                        <ion-card color="light">
                          <ion-card-content>
                            <ion-toolbar class="main-content" color="medium">
                              <ion-item color="medium">
                                <ion-avatar slot="start">
                                  <img *ngIf="thing.owner.profilePhoto" src="{{thing.owner.profilePhoto}}"/>
                                </ion-avatar>
                                <ion-label>
                                  <h3>{{thing.owner.name}}</h3>
                                </ion-label>
                              </ion-item>
                            </ion-toolbar>
                            <ion-item >
                              <ion-label class="ion-text-center">
                                <h4>{{thing.description}}</h4>
                              </ion-label>
                            </ion-item>
                            <ion-toolbar color="light" class="ion-text-center">

                              <h4><ion-icon name="pin"></ion-icon> Location: {{thing.location}}</h4>
                            </ion-toolbar>
                            <ion-toolbar color="light">
                              <ion-button color="secondary" size="small" (click)="seeEvent(thing._id)" slot="start">See event</ion-button>
                              <ion-button color="secondary" size="small" (click)="asistir(thing._id)" slot="end">Attend</ion-button>
                            </ion-toolbar>
                          </ion-card-content>
                        </ion-card>
                      </ng-template>
                    </div>
                  </ng-template>
                </ng-template>
              </div>
            </ion-card>
          </div>
        </div>
      </form>
    </ion-content>
  </div>
</ion-app>

<div class="web">
<mat-toolbar color="primary">
  <mat-toolbar-row class="background-primary">
    <span class="margin-left-auto" style="color: white">Erasmus</span>
    <form [formGroup]="form" class="search-form margin-right-auto">
      <div>
        <label class="search-input">
          <input matInput (keyup)="updateSuggestions($event)" [matAutocomplete]="auto" placeholder="Search...">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion">{{suggestion}}</mat-option>
          </mat-autocomplete>
        </label>
        <button type="submit" class="search-button">
          <i class="material-icons search-icon">search</i>
        </button>
      </div>
    </form>
    <div class="toolbar-container margin-right-auto">
      <div class="toolbar-buttons">
        <div class="pointer" [routerLink]="'/home'">
          <div>
            <i class="material-icons">home</i>
          </div>
          <div class="menu-title white-text">
              Home
          </div>
        </div>
        <div class="pointer" [routerLink]="'/profile'">
          <div>
            <i class="material-icons">person</i>
          </div>
          <div class="menu-title white-text">
            Profile
          </div>
        </div>
        <div class="pointer" [routerLink]="'/friends'">
          <div>
            <i class="material-icons">group</i>
          </div>
          <div class="menu-title white-text">
            Friends
          </div>
        </div>
        <div class="pointer" [routerLink]="'/message'">
          <div>
            <i class="material-icons">chat</i>
          </div>
          <div class="menu-title white-text">
            Chat
          </div>
        </div>
      </div>
    </div>
    <div routerLink="/login" class="pointer margin-right-auto" style="color: white" (click)="logOff()">Log Off</div>
  </mat-toolbar-row>
</mat-toolbar>

<!--Body of the Web Page-->
<div class="container">
  <div class="main-content">
    <!--Left Column-->
    <div class="col-lg-3 col-md-3 col-sm-3">
      <mat-card class="vertical-margin no-padding">
        <div style="height: 250px">
          <div style="background: #e44d3a; height: 50%; display: flex">
            <div class="personal-icon">
              <img *ngIf="this.photo" class="image-contain" src="{{this.photo}}"/>
              <img *ngIf="!this.photo" class="image-contain" src="../../../assets/img/default_user.png"/>
            </div>
            <div class="personal-icon" style="position: absolute; width: auto;">
              <input #imageInput
                     style="width: 100%; height: 100%;"
                     class="image-input"
                     type = 'file'
                     accept="image/*"
                     (change) = "processPhoto(imageInput)">
            </div>
          </div>
          <div style="height: 70%">
            <div class="personal-info-container">
              <div *ngIf="user" class="personal-name">
                {{user.name}}
              </div>
              <div class="personal-status">
                Status
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="followers" class="personal-item">
          <p class="personal-item-title">Followers</p>
          {{followers.length}}
        </div>
        <div *ngIf="following" class="personal-item">
          <p class="personal-item-title">Following</p>
          {{following.length}}
        </div>
      </mat-card>
    </div>
    <!--Middle Column-->
    <div class="col-lg-5 col-md-5 col-sm-5">
      <!--Post Card-->
      <div>
        <mat-card class="vertical-margin border-top">
          <div>
            <mat-form-field class="textarea">
                <textarea matInput
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="3"
                          cdkAutosizeMaxRows="7"
                          [(ngModel)]="postMessage"></textarea>
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button class="background-primary white-text" (click)="publishPost()">Post</button>
          </div>
        </mat-card>
      </div>
      <!--Wall Card-->
      <div *ngIf="user">
        <div *ngFor="let thing of activity">
          <mat-card class="vertical-margin middle-card">
            <div>
              {{thing.owner.name}}:{{thing.message}}
            </div>
            <i class="material-icons delete-icon" (click)="deleteEvent(activity)">delete_forever</i>
          </mat-card>
        </div>
      </div>
    </div>
    <!--Right Column-->
    <div class="col-lg-3 col-md-3 col-sm-3">
      <mat-card class="vertical-margin">
        <div class="vertical-margin">
          FOLLOWING
        </div>
        <mat-divider></mat-divider>
        <mat-list *ngIf="user">
          <div *ngFor="let follow of following">
          <mat-list-item>
            <div>
              {{follow.name}}
            </div>
            <div class="chat chat-unavailable">
              <i class="material-icons">chat</i>
            </div>
          </mat-list-item>
          </div>
        </mat-list>
      </mat-card>
    </div>
  </div>
</div>
</div>
