<ion-app>
  <div class="ion-page" main>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Following</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item *ngFor="let user of following">
        <ion-avatar slot="start">
          <img *ngIf="user.profilePhoto" (click)="change(user._id)" src="{{user.profilePhoto}}"/>
        </ion-avatar>
        <ion-label>
          <h2 (click)="change(user._id)">{{user.name}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
  </div>
</ion-app>
