<ion-app class="mobile">
  <div class="ion-page" main>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Event</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <div *ngIf="event">
          <ion-card class="vertical-margin border-top" color="medium">
            <ion-card-content>
              <ion-toolbar class="ion-text-center" color="light">
                <h2><strong>{{event.description}}</strong></h2>
              </ion-toolbar>
              <ion-toolbar class="ion-text-center" color="light">
                <ion-icon name="pin"></ion-icon>{{event.location}}
              </ion-toolbar>
              <ion-toolbar class="ion-text-center" color="light">
                {{event.eventDate}}
              </ion-toolbar>
              <ion-card color="light">
                <ion-card-title class="ion-text-center"> Members</ion-card-title>
                <div *ngFor="let user of this.event.members">
                <ion-card-content>
                  <ion-toolbar class="ion-text-center">
                    {{user.name}}
                  </ion-toolbar>
                </ion-card-content>
                </div>
              </ion-card>
              <div *ngIf="check === 'no'; else other">
                <ion-button expand="block" (click)="asistir()">Asistir</ion-button>
              </div>
              <ng-template #other>
                <ion-button expand="block" (click)="leave()">Leave</ion-button>
              </ng-template>
            </ion-card-content>
          </ion-card>
        </div>
    </ion-content>
  </div>
</ion-app>
