*{
  margin: 0;
  padding: 0;
}
body, html{
  background: #fff;
  //font-size: 16px;
  color: #000;
  font-family: monospace;
  width: 100%;
  height: 100%;
}
ion-content {
  padding-top: 5%;
  padding-bottom: 5%;
}
ion-card {
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  --background: #fff;
}
h3 {
  font-size: 20px;
  text-align: center;
  color: #7e57ff;
  padding-top: 10%;
  padding-bottom: 5%;
  margin-left: 10%;
  margin-right:10%;
}
h4 {
  font-size: 13px;
  text-align: left;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 3%;
}
ion-item {
  font-size: 16px;
  margin-right: 5%;
}
ion-chip {
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  text-align: center;
}
ion-label {
  margin-right: 5%;
}
ion-text {
  margin-left: 5%;
}
ion-button {
  width: 75%;
  margin-left: 12.5%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
ion-input, select, textarea{
  color: #383a3e;
}
