<ion-content class="ion-padding" color="tertiary">
  <ion-card class="item item-text-wrap">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-grid>
      <ion-row color="tertiary" class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-lg="11" size-xs="12">
          <div>
            <h3>Inicia sesión para entrar en Erasmus!</h3>
          </div>
              <ion-item class="ion-padding-bottom">
                <ion-label color="tertiary">Correo electrónico</ion-label>
                <ion-input name="email" type="email" formControlName="email" placeholder="tu@email.com" required></ion-input>
              </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email" >
              <div *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                <ion-chip color="danger">
                  {{ validation.message }}
                </ion-chip>
              </div>
            </ng-container>
            <div *ngIf="loginForm.controls['email'].valid">
              <ion-chip color="success">Correo electrónico válido!</ion-chip>
            </div>
          </div>
            <ion-item class="ion-padding-bottom">
              <ion-label color="tertiary">Contraseña</ion-label>
              <ion-input name="password" type="password" formControlName="password" placeholder="Password" required></ion-input>
            </ion-item>
          <div>
            <ion-button size="large" color="tertiary" type="submit" [disabled]="loginForm.invalid" expand="block">LOGIN</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row color="tertiary">
        <h4>Si todavía no tienes una cuenta en Erasmus, <a routerLink='/register'>regístrate</a>!</h4>
      </ion-row>
    </ion-grid>
  </form>
  </ion-card>
</ion-content>
