<ion-content color="tertiary">
  <ion-card>
    <form  #form="ngForm" (ngSubmit)="register(form)">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="10" size-xs="12">
            <div text-center>
              <h3>Crea tu cuenta!</h3>
            </div>
            <div text-center>
              <h5>Haz amigos y encuentra planes para tu estancia en el extranjero</h5>
            </div>
            <div padding>
              <ion-item>
                <ion-label color="tertiary">Nombre</ion-label>
                <ion-input  name="name" type="text" placeholder="Name" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="tertiary">Correo electrónico</ion-label>
                <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="tertiary">Contraseña</ion-label>
                <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="tertiary">Repetir Contraseña</ion-label>
                <ion-input name="confirm" type="password" placeholder="Repeat Password" ngModel required></ion-input>
              </ion-item>
              <div padding>
                  <ion-checkbox color="tertiary"></ion-checkbox>
                  <ion-text class="ion-color-tertiary">Acepto las Condiciones y los Términos de Servicio</ion-text>
              </div>
            </div>
            <div>
              <ion-button color="tertiary" size="large" type="submit" [disabled]="form.invalid" expand="block">REGISTRARME</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>
