<ion-app>
  <div class="ion-page" main>
  <ion-header>
  <ion-toolbar>
    <ion-title>Friends</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
            (ionChange)="buscar($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor="let userName of users | filtro:textobuscar: 'name'">
          <ion-avatar slot="start">
            <img *ngIf="userName.profilePhoto"  (click)="change(userName._id)" src="{{userName.profilePhoto}}"/>
          </ion-avatar>
          <ion-label>
            <h2 (click)="change(userName._id)">{{userName.name}}</h2>
          </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
  </div>
</ion-app>
