<ion-header>
  <ion-toolbar>
    <ion-title>Friends</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
            (ionChange)="buscar($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor="let userName of users | filtro:textobuscar: 'name'">
      <ion-row>
      <ion-button size="large" color="tertiary" (click)="sendUser(userName._id)" expand="block">{{userName.name}}</ion-button>
        <ion-button size="large" color="tertiary" (click)="change()" expand="block">ChangePage</ion-button>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
