<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Online
    </ion-list-header>
    <ion-item *ngFor="let userItem of userList; let i = index">
      <ion-avatar slot="start" *ngIf="userItem[i] != user.name">
        <img src="../../../assets/img/default_user.png">
      </ion-avatar>
      <ion-label>
        <h2>{{ userItem[i] }}</h2>
        <h3>Online</h3>
        <p>I just upgraded my X-Wing. Next time...</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Everybody
    </ion-list-header>
    <ion-item *ngFor="let userItem of users">
      <ion-avatar slot="start">
        <img src="../../../assets/img/default_user.png">
      </ion-avatar>
      <ion-label>
        <h2>{{ userItem.name }}</h2>
        <p>I just upgraded my X-Wing. Next time...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
