.pointer {
  cursor: pointer;
}

@media (min-width: 500px) {
  .mobile{
    display: none;
  }
  .web{
    display: block;
  }
}

@media (max-width: 500px) {
  .mobile{
    display: block;
  }
  .web{
    display: none;
  }
}
