<ion-app class="mobile">
  <div class="ion-page" main>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title slot="start">Post: comments</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card *ngIf="post">
        <ion-card-header  color="light">
          <h2>Owner: {{post.owner.name}}</h2>
          <h2>Message: {{post.message}}</h2>
        </ion-card-header>
        <ion-card-content *ngFor="let comment of post.comments">
          <ion-toolbar>Owner: {{comment.owner}}</ion-toolbar>
          <ion-toolbar>{{comment.message}}</ion-toolbar>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>
</ion-app>
