<ion-app>
  <div class="ion-page" main>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Posts</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-card class="vertical-margin" *ngFor="let post of this.posts">
        <ion-card-header color="light" class="text-center" style="font-size: 22px">
          {{post.message}}
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-button class="align-content-center"(click)="changePageComments(this.post._id)">View comments</ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>
</ion-app>
