<ion-app class="mobile">
  <div class="ion-page" main>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title slot="start">Datos erasmus</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="erasmusForm">
        <div>
          <ion-card class="vertical-margin border-top">
              <ion-item class="textarea">
                <ion-textarea name="age" type="text" formControlName="age" placeholder="Edad" required></ion-textarea>
              </ion-item>
              <ion-item class="textarea">
                <ion-textarea name="course" type="text" formControlName="course" placeholder="Curso actua." required></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label>Home University</ion-label>
                <ion-select formControlName="homeUniversity" multiple="false" cancelText="Cancel" okText="Okay!" required>
                  <ion-select-option *ngFor="let university of universities">{{university.name+','+university.country}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                  <ion-label>Destination University</ion-label>
                  <ion-select formControlName="destUniversity" multiple="false" cancelText="Cancel" okText="Okay!" required>
                      <div *ngFor="let university of universities">
                          <ion-select-option *ngIf="university.name!==this.homeUniversity">{{university.name+','+university.country}}</ion-select-option>
                      </div>
                  </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Languages</ion-label>
                <ion-select formControlName="languages" multiple="true" cancelText="Nah" okText="Okay!">
                  <ion-select-option *ngFor="let language of languages">{{language.valueOf()}}</ion-select-option>
                </ion-select>
              </ion-item>
            <div>
              <ion-button [disabled]="!erasmusForm.valid" (click)="add()" color="medium" expand="block">Add</ion-button>
            </div>
          </ion-card>
        </div>
      </form>
    </ion-content>
  </div>
</ion-app>
