body {
  background-color: #333;
  font-family: Source Sans Pro,sans-serif;
}
.navbar-brand {
  display: inline-block;
  padding: 15px;
  height: 40px;
}
.pad2 {
  padding:20px;
}
.sidebar {
  position:absolute;
  width:360px;
  height:100%;
  top:0;left:0;
  overflow:hidden;
  border-right:1px solid rgba(0,0,0,0.25);
}
.map {
  position:absolute;
  left:360px;
  width: calc(100% - 360px);
  top:0;bottom:0;
}
@media (max-width: 767px){
  .sidebar {
    width: 100%;
    height: 40vh;
  }
  .map {
    left: 0;
    top: 40vh;
    width: 100%;
  }
  .navbar-brand {
    display: block;
    padding: 3px;
    text-align: center;
  }
}

h1 {
  font-size:22px;
  margin:0;
  font-weight:400;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color:#404040;
  text-decoration:none;
}

a:hover {
  color:#101010;
}

.heading {
  line-height:60px;
  padding:0 10px;
  background-color: #111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading form select {
  font-size: 11px;
  text-transform: uppercase;
  color: #eee;
  padding: 5px 0;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #111;
  border-bottom: 1px solid #777;
  border-radius: 0!important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #111;
  background: url(/img/down-arrow.svg) no-repeat center right;
  background-size: 10px;
  padding-right: 10px;
  outline: none!important;
}

.listings {
  height: calc(100% - 65px);
  overflow:auto;
  padding-bottom:60px;
}

.listings .item {
  display:block;
  border-bottom:1px solid #222;
  padding:10px;
  text-decoration:none;
  color: #ccc;
  font-weight: 300;
  overflow: auto;
}

.listings .item img.cover {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border: 2px solid #111;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.listings .gold img.cover {
  border-color: #d4af37;
}
.listings span.gold img {
  display: inline-block;
  margin-bottom: -2px;
  margin-right: 2px;
}

.listings .item:last-child { border-bottom:none; }
.listings .item .title {
  display:block;
  color:#fff;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255,255,255,0.07);
}

.listings .item .title .age {
  padding-left: 15px;
  font-size: 14px;
}
.listings .item .title .gold {
  padding-left: 15px;
  font-size: 11px;
  color: #d4af37;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.listings .item .slogan {
  display: block;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  line-height: 1.1em;
  padding: 7px 0;
}
.listings .item .phone {
  display: block;
}
@media (max-width: 767px) {
  .listings .item img.cover {
    width: 60px;
    height: 60px;
  }
  .listings .item .title {
    font-size: 16px;
  }
  .listings .item .slogan {
    padding: 4px 0;
  }
  .listings .item .phone {
    font-size: 13px;
    margin-top: -4px;
  }
  .listings .item {
    padding: 5px 10px;
  }
}

.listings .item .title small { font-weight:400; }
.listings .item.active .title,
.listings .item.active {
  background-color:#111;
}
::-webkit-scrollbar {
  width:3px;
  height:3px;
  border-left:0;
  background:rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track {
  background:none;
}
::-webkit-scrollbar-thumb {
  background:#666;
  border-radius:0;
}

.marker {
  cursor: pointer;
  height: 56px;
  width: 56px;
  border: 2px solid #fff;
  border-radius: 50%;
  object-fit: cover;
}
.marker.gold {
  border-color: #d4af37;
}

.clearfix { display:block; }
.clearfix:after {
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

/* Marker tweaks */
.mapboxgl-popup {
  padding-bottom: 50px;
}

.mapboxgl-popup-close-button {
  color:#fff;
  display: inline-block;
  margin-top: -15px;
  font-size: 18px;

}
.mapboxgl-popup-content {
  font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding:0;
  width:180px;
}
.mapboxgl-popup-content .item {
  padding: 4px 10px;
  line-height: 1em;
}
.mapboxgl-popup-content .i_age {
  padding-top: 10px;
}
.mapboxgl-popup-content .item strong {
  display: inline-block;
  padding-left: 10px;
}
.mapboxgl-popup-content .i_more {
  padding-top: 10px;
  padding-bottom: 10px;
}
.mapboxgl-popup-content .i_more a {
  display: block;
  text-align: center;
  padding: 5px;
  margin: 2px 0;
  border-radius: 3px;
  color: #ffff;
  background-color: #333;
}
.mapboxgl-popup-content-wrapper {
  padding:1%;
}
.mapboxgl-popup-content h3 {
  background:#111;
  color:#fff;
  margin:0;
  display:block;
  padding:10px;
  border-radius:3px 3px 0 0;
  font-weight:700;
  margin-top:-15px;
}

.mapboxgl-popup-content h4 {
  margin:0;
  display:block;
  padding: 10px 10px 10px 10px;
  font-weight:400;
}

.mapboxgl-popup-content div {
  padding:10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor:pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #fff;
}
