<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Maps</ion-title>
  </ion-toolbar>
</ion-header>
<link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css">
<ion-content>
  <div class='sidebar'>
    <div id='listings' class='listings'></div>
  </div>
  <div id="mapElement" class="map"></div>
  <ion-list>
    <ion-item *ngFor="let event of events.features">
      <p>{{ event.properties.title }}</p>
    </ion-item>
  </ion-list>
</ion-content>
